.wrapper {
     background-color: #333;

    .row {
        .left-widgets {
            // background-color: #FE0000;
            color: #333;
        }
        
        .right-widgets {
            // background-color: #FE0000;
            color: #333;
        }
        .credit-card, .personal-document, .daily-expense, .bank-account, .vehicle-management, .bill-management{
            //box-shadow: #d1d1d1 3px 3px 10px;
        }
    }
}

