.App-header {
    // padding: 15px 30px;

    .header {
        .header-logo {
            background-color: #FE0000;

            img {
                width: 120px;
            }

            span {
                margin-left: 10px;
                color: #FFF903;
            }
        }

        .header-options {
            background-color: #F78703;

            .header-dropdown {
                .dropdown-button {
                    background-color: #F78703;
                    border-color: #F78703;
                    color: #FFF903;
                    padding-top: 25px;
                    padding-right: 25px;

                    &:focus { 
                        box-shadow: none;
                    }
                }
            }
        }
    }
}